<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="navbar">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item" sec:authorize="hasRole('ROLE_Administrator')">
                    <a class="nav-link" href="/users">users <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_Administrator')">
                    <a class="nav-link" href="/reviews">reviews</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_Administrator')">
                    <a class="nav-link" href="/users/add">add user</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_Customer','ROLE_Sale')">
                    <a class="nav-link" href="/articles">articles</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_Sale')">
                    <a class="nav-link" href="/orders">orders</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_Sale')">
                    <a class="nav-link" href="/upload">upload file</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_Customer')">
                    <a class="nav-link" href="/userorders">my orders</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_Customer')">
                    <a class="nav-link" href="/reviews/new">leave review</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_Sale')" id="newArticleButton">
                    <a class="nav-link" href="/articles/new">new article</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_Customer','ROLE_Sale')" id="itemsButton">
                    <a class="nav-link" href="/items">items</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/about">about</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <div><a class="nav-link" th:text="${#authentication.getPrincipal().getUsername()}"
                            th:href="@{/profile}"></a>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout">logout</a>
                </li>
            </ul>
        </div>
    </nav>

</div>
</body>
</html>