<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="pagination" th:fragment="paginator">
    <div class="page-dropdown">
        <select th:field="${paginator.size}" th:id="sizeSelector" th:name="sizeSelector"
                onchange="selectAmount('sizeSelector')">
            <option th:each="state : ${paginator.droppedListValues}"
                    th:selected="${state==paginator.size}" th:value="${state}" th:text="${state}">
            </option>
        </select>
    </div>
    <span class="current-page">
        <span>page:</span>
        <span th:text="${paginator.page} + '/' +${paginator.maxPage} "></span>
    </span>

    <a th:href="@{__${#httpServletRequest.requestURI}__(page='1',size=${paginator.size},    keyWord=${#httpServletRequest.getParameter('keyWord')})}">|&lt;</a>
    <a th:href="@{__${#httpServletRequest.requestURI}__(page=${paginator.page}-1,size=${paginator.size},
    keyWord=${#httpServletRequest.getParameter('keyWord')})}">&lt;</a>
    <span th:each="pageNumber:${#numbers.sequence(1,paginator.maxPage)}">
        <a th:href="@{__${#httpServletRequest.requestURI}__(page=${pageNumber},size=${paginator.size},keyWord=${#httpServletRequest.getParameter('keyWord')})}"
           th:text="${pageNumber}"></a>
    </span>
    <a th:href="@{__${#httpServletRequest.requestURI}__(page=${paginator.page}+1,size=${paginator.size},keyWord=${#httpServletRequest.getParameter('keyWord')})}">&gt;</a>
    <a th:href="@{__${#httpServletRequest.requestURI}__(page=${paginator.maxPage},size=${paginator.size},keyWord=${#httpServletRequest.getParameter('keyWord')})}">&gt;|</a>

    <script th:inline="javascript">
        function selectAmount(size) {
            var size = document.getElementById(size);
            var urlWithoutParameters = new URL(window.location.href.split('?')[0]);
            var currentUrl = new URL(window.location.href);
            urlsp = currentUrl.searchParams;
            var keyWord = (urlsp.get("keyWord"));
            var queryString = urlWithoutParameters.search;
            var searchParams = new URLSearchParams(queryString);
            searchParams.append('page', '1');
            searchParams.append('size', size.value);
            if (keyWord !== null) {
                searchParams.append('keyWord', keyWord);
            }
            urlWithoutParameters.search = searchParams.toString();
            var new_url = urlWithoutParameters.toString();
            window.location.replace(urlWithoutParameters);
        }
    </script>
</div>
</body>
</html>