<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="pagination" th:fragment="paginator">
    <div class="page-dropdown">
        <form action="#" th:action="@{'/'+${content}(page=${paginator.page},size=${paginator.size})}" method="get">
            <select th:field="${paginator.size}" th:id="sizeSelector" th:name="sizeSelector"
                    onchange=this.form.submit()>
                <option th:each="state : ${paginator.droppedListValues}"
                        th:selected="${state==paginator.size}" th:value="${state}" th:text="${state}">
                </option>
            </select>
        </form>
    </div>
    <span class="current-page">
        <span>page:</span>
        <span th:text="${paginator.page} + '/' +${paginator.maxPage} "></span>
    </span>

    <a th:href="@{'/'+${content}(page='1',size=${paginator.size})}">|&lt;</a>
    <a th:href="@{'/'+${content}(page=${paginator.page}-1,size=${paginator.size})}">&lt;</a>
    <span th:each="pageNumber:${#numbers.sequence(1,paginator.maxPage)}">
        <a th:href="@{''+${content}(page=${pageNumber},size=${paginator.size})}" th:text="${pageNumber}"></a>
    </span>
    <a th:href="@{'/'+${content}(page=${paginator.page}+1,size=${paginator.size})}">&gt;</a>
    <a th:href="@{'/'+${content}(page=${paginator.maxPage},size=${paginator.size})}">&gt;|</a>

</div>
</body>
</html>