<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>About</title>
</head>
<body>
<div class="container">
    <div class="row" th:insert="~{fragments/header :: header}">
    </div>
    <div class="row" th:insert="~{fragments/navbar :: navbar}">
    </div>

    <h1 th:text="${#calendars.format(#calendars.createNow(), 'dd MMM yyyy HH:mm')}"></h1>
    <h1>Our shop was founded in 2019</h1>
    <h2>We are the best of the best</h2>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>