<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<title>Registration page</title>
</head>
<body>
<div th:insert="~{fragments/my_header :: myHeader}"></div>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div layout:fragment="content" th:remove="tag">
    <div class="container col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
        <div class="row">
            <div class="col-ml-6">
                <form th:action="@{/users/add}" th:object="${user}" method="post">
                    <!--<div th:if="${!successfulMessage.isEmpty()}">-->
                    <!--<div class="alert-success" th:text="${successfulMessage}">-->
                    <!--</div>-->
                    <!--</div>-->

                    <div th:if="${errors.containsKey('lastName')}">
                        <div class="alert alert-danger" th:text="${errors.get('lastName')}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">last name</label>:
                        <input type="text"
                               id="lastName"
                               name="lastName"
                               class="form-control"
                               autofocus="autofocus"
                               placeholder="lastName">
                    </div>

                    <div th:if="${errors.containsKey('firstName')}">
                        <div class="alert alert-danger" th:text="${errors.get('firstName')}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName">first name</label>:
                        <input type="text"
                               id="firstName"
                               name="firstName"
                               class="form-control"
                               autofocus="autofocus"
                               placeholder="firstName">
                    </div>

                    <div th:if="${errors.containsKey('patronymic')}">
                        <div class="alert alert-danger" th:text="${errors.get('patronymic')}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="patronymic">patronymic</label>:
                        <input type="text"
                               id="patronymic"
                               name="patronymic"
                               class="form-control"
                               autofocus="autofocus"
                               placeholder="patronymic">
                    </div>

                    <div th:if="${errors.containsKey('email')}">
                        <div class="alert alert-danger" th:text="${errors.get('email')}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">email</label>:
                        <input type="text"
                               id="email"
                               name="email"
                               class="form-control"
                               autofocus="autofocus"
                               placeholder="email">
                    </div>
                    <label class="label">Role:</label>
                    <select th:field="${user.role.name}">
                        <option th:each="state : ${T(com.gmail.erofeev.st.alexei.onlinemarket.controller.util.RolesNameEnum).values()}"
                                th:value="${state}"
                                th:text="${state}"
                                th:selected="${state==T(com.gmail.erofeev.st.alexei.onlinemarket.controller.util.RolesNameEnum).valueOf('ROLE_Customer')}">
                        </option>
                    </select>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="submit"
                                       name="login-submit"
                                       id="login-submit"
                                       class="form-control btn btn-info"
                                       value="register">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>