<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Article</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <div class="row" th:insert="~{fragments/header :: header}">
    </div>
    <div class="row" th:insert="~{fragments/navbar :: navbar}">
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div sec:authorize="hasRole('ROLE_Sale')">

                <form action="#" th:action="@{{articleId}/update(articleId=${article.id})}" method="post"
                      th:object="${editedArticle}">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                        Name Error
                    </div>
                    <label for="article-title">article title</label>
                    <input th:value="${article.title}"
                           name="title" id="article-title"/>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                        Name Error
                    </div>
                    <label for="content-textarena">article content</label>
                    <textarea th:text="${article.content}" class="form-control"
                              name="content" id="content-textarena"></textarea>
                    <input type="hidden" th:field="${article.id}" th:value="${editedArticle.id}">
                    <label>article createdDate</label>
                    <input type="datetime-local" class="form-control" th:value="${editedArticle.createdDate}"
                           th:field="${article.createdDate}"
                           name="createDate" th:placeholder="${article.createdDate}">
                    <button type="submit" class="btn btn-outline-primary">
                        save edit
                    </button>
                </form>

            </div>

            <div sec:authorize="hasAnyRole('ROLE_Customer','ROLE_Sale')">
                <h2 th:text="${article.title}">article title</h2>
                <p th:text="${article.createdDate}">article createDate</p>
                <p th:text="${article.content}">article content</p>
            </div>

        </div>
    </div>
    <div class="row">
        <th:block th:each="tag,number : ${article.tags}">
            <a th:href="@{/articles/tag/{id} (id=${tag.id})}" th:text="${tag.name}"
               class="badge badge-default">Default</a>
        </th:block>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseComments"
                        aria-expanded="false" aria-controls="collapseComments">
                    show comments
                </button>
            </p>
            <div class="panel-collapse collapse in" id="collapseComments">
                <div class="card card-body">
                    <div>
                        <form action="#" th:action="@{{articleId}/newComment(articleId=${article.id})}"
                              th:object="${newComment}"
                              method="post" id="saveComment"></form>
                        <th:block th:each="comment,number : ${article.comments}">
                            <hr>
                            <div class="col-sm-4">
                                <p th:text="${'comment from:'+ comment.user.getFullName()}"></p>
                                <p th:text="${'date: ' +comment.createdDate}"></p>
                                <p th:text="${comment.content}"></p>
                                <div sec:authorize="hasRole('ROLE_Sale')">
                                    <form action="#"
                                          th:action="@{{articleId}/deleteComment(articleId=${article.id})}"
                                          method="post">
                                        <input type="hidden" th:name="'deleteCommentId'"
                                               th:value="${comment.id}">
                                        <button type="submit" class="btn btn-outline-primary">
                                            delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </th:block>

                        <div class="collapse" id="collapseNewComment">
                            <input hidden="true" type="text" th:field="${newComment.articleId}"
                                   th:value="${article.id}" form="saveComment"/>
                            <div class="card card-body">
                                <div>
                                    <label for="textarea">new comment</label>
                                    <textarea class="form-control rounded-0"
                                              id="textarea" th:field="${newComment.content}" rows="10"
                                              form="saveComment"></textarea>
                                    <button form="saveComment" type="submit" class="btn btn-outline-primary"> save
                                    </button>
                                </div>
                            </div>
                        </div>

                        <p>
                            <button class="btn btn-primary" type="button" data-toggle="collapse"
                                    data-target="#collapseNewComment"
                                    aria-expanded="false" aria-controls="collapseNewComment">
                                comment
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row" th:insert="~{fragments/footer :: footer}">
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>