<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row" th:insert="~{fragments/header :: header}">
    </div>
    <div class="row" th:insert="~{fragments/navbar :: navbar}">
    </div>

    <div class="row">
        <th:block th:each="item,number : ${items}">
            <div class="col-sm-4" id="article">
                <form action="#" th:action="@{/items/{id}(id=${item.id})}" method="get"
                      th:id="${'itemDetails' +number.index}"></form>
                <h2 th:text="${item.name}"></h2>
                <p th:text="${item.uniqueNumber}"></p>
                <p th:text="${item.price}"></p>
                <p th:text="${item.shortDescription}"></p>

                <div class="btn-group" role="group" aria-label="Basic example" sec:authorize="hasRole('ROLE_Sale')">
                    <button type="submit" class="btn btn-outline-primary mx-1" th:form="${'itemDetails' +number.index}">
                        details
                    </button>
                    <form action="#" th:action="@{/items/{id}/delete(id=${item.id})}" method="post">
                        <input type="hidden" th:value="${item.id}" name="id"/>
                        <button type="submit" class="btn btn-outline-primary mx-1">
                            delete
                        </button>
                    </form>
                    <form action="#" th:action="@{/items/{id}/copy(id=${item.id})}" method="post">
                        <input type="hidden" th:value="${item.id}" name="id"/>
                        <button type="submit" class="btn btn-outline-primary mx-1">
                            copy
                        </button>
                    </form>
                </div>

                <div class="btn-group" role="group" aria-label="Basic example" sec:authorize="hasRole('ROLE_Customer')">
                    <input class="form-control" type="number" min="1" id="amount" name="amount"
                           th:form="${'newOrder' +number.index}"/>
                    <input type="hidden" th:value="${item.id}" id="itemId" name="itemId"
                           th:form="${'newOrder' +number.index}"/>
                    <form action="#" th:action="@{/orders/sale/new}" method="post"
                          th:id="${'newOrder' +number.index}"></form>
                    <button type="submit" class="btn btn-outline-primary mx-1" th:form="${'newOrder' +number.index}">
                        buy
                    </button>

                    <button type="submit" class="btn btn-outline-primary mx-1" th:form="${'itemDetails' +number.index}">
                        details
                    </button>
                </div>
            </div>
        </th:block>
    </div>

    <div th:insert="~{fragments/paginator :: paginator}"></div>
    <div class="row" th:insert="~{fragments/footer :: footer}">
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>