<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <div class="row" th:insert="~{fragments/header :: header}">
    </div>
    <div class="row" th:insert="~{fragments/navbar :: navbar}">
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div sec:authorize="hasRole('ROLE_Sale')">
                <table class="table table-striped" id="usersTable">
                    <thead>
                    <tr>
                        <th> order number</th>
                        <th> date</th>
                        <th> item name</th>
                        <th> amount of items</th>
                        <th> total price</th>
                        <th> phone</th>
                        <th> user name</th>
                        <th> status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th th:text="${order.orderDTO.uniqueNumber}"></th>
                        <th th:text="${order.orderDTO.createdDate}"></th>
                        <th th:text="${order.orderDTO.itemName}"></th>
                        <th th:text="${order.orderDTO.amountOfItem}"></th>
                        <th th:text="${order.orderDTO.totalPrice}"></th>
                        <th th:text="${order.phoneNumber}"></th>
                        <th th:text="${order.userName}"></th>
                        <th>
                            <form action="#"
                                  th:action="@{/orders/{uniqueNumber}/update(uniqueNumber=${order.orderDTO.uniqueNumber})}"
                                  method="post">
                                <select name="orderStatus" onchange="this.form.submit()">
                                    <option th:each="state : ${T(com.gmail.erofeev.st.alexei.onlinemarket.repository.model.enums.OrderStatusEnum).values()}"
                                            th:value="${state}"
                                            th:text="${state}"
                                            th:selected="${state==T(com.gmail.erofeev.st.alexei.onlinemarket.repository.model.enums.OrderStatusEnum).valueOf(order.orderDTO.status)}">
                                    </option>
                                </select>
                                <input type="hidden" th:value="${order.orderDTO.uniqueNumber}" name="uniqueNumber">
                            </form>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="row" th:insert="~{fragments/footer :: footer}">
</div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>